<link rel="stylesheet" href="/css/navbar.css">
<div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
        <a id="logo__wapper" href="/" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
            <img src="/img/logo.png" id="logo" alt="">
            <span class="text-primary">Aspen Academy</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav font-weight-bold ml-auto py-0 pr-4">
                <a href="/" class="nav-item nav-link">Home</a>
                <div class="subNavMenu_wapper">
                    <a href="#" class="subNavMenu_wapper_mainLink nav-item nav-link">About</a>
                    <div class="subNavMenu bg-light">
                        <a href="/about_vision">Vision</a>
                        <a href="/about_founder">Director's Desk</a>
                        <a href="/about_principal">Principal's Desk</a>
                        <a href="/team">Team</a>
                        <!-- <a href="#">Hello</a>
                        <a href="#">Hello</a> -->
                    </div>
                </div>
                <!-- <a href="/class" class="nav-item nav-link">Classes</a> -->
                <a href="/gallery" class="nav-item nav-link">Gallery</a>
                <a href="/careers" class="nav-item nav-link">Careers</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="/blog" class="dropdown-item">Blog Grid</a>
                        <a href="/single" class="dropdown-item">Blog Detail</a>
                    </div>
                </div> -->
                <!-- <a href="/contact" class="nav-item nav-link">Contact</a> -->
            </div>
            <a href="/contact" class="btn btn-primary px-4">Contact Us</a>
        </div>
    </nav>
</div>

<script>
    document.querySelectorAll("#navbarCollapse a").forEach(e=>e.classList.remove('active'))
    document.querySelector(`[href='${document.location.pathname}']`).classList.add('active') 
</script>
