#hero__text {
    font-size: 1.1rem;
}

.owl-carousel {
    .mcard {
        position: relative;
        img {
            &:nth-child(1) {
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0;
                opacity: 0;
            }
            // border-radius: 5px;
        }
    }
}

.section-title span::before {
    display: none;
    // position: absolute;
    // content: "";
    // top: 50%;
    // transform: translateY(-50%) translateX(100%);
    // // top: 10px;
    // right: 0;
    // width: 40px;
    // height: 2px;
    // background: $primary;
}
