#logo__wapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#logo{
    height: 3rem;
    width: auto;
}
#logo__wapper span{
    font-family: 'DM Serif Display', serif;
}

.subNavMenu_wapper{
    position: relative;
    .subNavMenu{
        position: absolute;
        // display: flex;
        display: none;
        left: -2rem;
        justify-content: center;
        row-gap: 0.5rem;
        padding: 0 2rem;
        padding-bottom: 0.5rem;
        align-items: center;
        flex-direction: column;
        border-radius: 0 0 5px 5px;
        z-index: 10000;
        a{
            color: #00394f;
            white-space: pre;
            text-decoration: none;
            &:hover{
                color: #17A2B8;
            }
        }
    }
    &:hover{
        .subNavMenu{
            display: flex;
        }
    }
}


@media only screen and (max-width: 500px) {
    .subNavMenu_wapper{
        .subNavMenu{
            position: static !important;
            align-items: flex-start !important;
            a{
                width: 100%;
            }
        }
    }
    #logo__wapper{
        gap:0.3rem;
        span{
            font-size: 1.8rem;
        }
        #logo{
            height: 2rem;
        }
    }
}

