
.teacher{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  &.odd{
    justify-content: flex-end;
  }
  .teacher__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    width: fit-content;
    img{
      height: 10rem;
      width: auto;
      border-radius: 999px;
    }
    i{
      &:nth-of-type(1){
        font-weight: bold;
        font-size: 1rem;
      }
      &:nth-of-type(2){
        font-size: 0.9rem;
      }
    }
  }
  .teacher__info{
    p{
      // width: 600px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .teacher {
    flex-direction: column;
    &.odd{
      .teacher__img{
        order: 1;
      }
      .teacher__info{
        order: 2;
      }
    }
  }
}
