
.teacher{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  gap: 1rem;
  position: relative;
  // border: 1px solid red;
  &::after{
    content: '';
    position: absolute;
    background-color: #17a2b8;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 10%;
    min-width: 100px;
    border-radius: 99px;
    transform: translateX(-50%);
  }
  &.odd{
    justify-content: flex-end;
  }
  
  .teacher__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    width: fit-content;
    img{
      $size: 160px;
      height: $size;
      width: $size;
      border-radius: 50%;
      box-sizing: border-box;
      // box-shadow: 0px 0px 20px 0px rgba($color: #00394f, $alpha: 0.3);
      // border: 1px solid red;
      border: 2px solid rgba($color: #00394f, $alpha: 0.5);
    }
  }
  .teacher__info{
    i{
      &:nth-of-type(1){
        font-weight: bold;
        font-size: 1rem;
      }
      &:nth-of-type(2){
        font-size: 0.9rem;
      }
    }
    p{
      margin-top: 0.35rem;
      // width: 600px;
    }
  }
}


.teacher__img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // position: absolute;
  // top: 0;
  // transform: translateY(-50%);
  img{
      background: linear-gradient(90deg, #4AD0E6 0%, #CAEFF8 100%);
      $size: 10rem;
      width: $size;
      border-radius: 50%;
      display: block;
  }
}


@media only screen and (max-width: 700px) {
  .teacher {
    flex-direction: column;
    &.odd{
      .teacher__img{
        order: 1;
      }
      .teacher__info{
        order: 2;
      }
    }
  }
}



@media only screen and (max-width: 500px) {
  .teacher{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

