<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/about.css">
    <style>
        .section-title{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .section-title::before {
            top: 50%;
            transform: translateY(-50%);
        }
        #about_text p{
            text-align: center;
        }
        #aspen_leaf{
            height: 10rem;
            width: auto;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>
    
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">About Us</h3>
            <div class="d-inline-flex text-white">
                <!-- <img src="/img/leaves.png" id="leaves" alt=""> -->
                <p class="m-0"><a class="text-white" href="/">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div id="about">
        <div class="container-fluid pt-5">
            <div class="container">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">Why Aspen</span></p>
                    <div id="about_text">
                        <p>
                            Aspen Academy takes its name from the aspen leaf, known for its <b>Resilience</b> and <b>Ability</b> to <b>Adapt</b> to changing environments.
                        </p>
                        <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                            <img id="aspen_leaf" src="/img/aspen_leaf.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">Vision</span></p>
                    <div id="about_text">
                        <p>
                            At Aspen Academy, our vision is to nurture resilient and adaptable leaders who will shape the future with their critical thinking, creativity, and compassion, through an education rooted in 21st century skills and experiential learning.
 
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">Mission</span></p>
                    <div id="about_text">
                        <p>
                            Aspen Academy is to empower our students to become responsible global citizens, by fostering their intellectual, physical, moral, and spiritual growth through a holistic education that integrates 21st century skills, real-world experiences, thus equipping them to make a positive impact on the world.
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->

</body>

</html>