<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>
    
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">About Us</h3>
            <div class="d-inline-flex text-white">
                <!-- <img src="/img/leaves.png" id="leaves" alt=""> -->
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div id="about">
        <div class="container-fluid pt-5">
            <div class="container">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">Vision</span></p>
                    <div id="about_text">
                        <p>
                            At Aspen Academy, our paramount mission is to empower students to evolve into responsible global citizens. We are dedicated to  <b> nurturing their intellectual</b>, <b>physical</b>, <b>moral</b>, and <b>spiritual growth</b> through a comprehensive educational approach. 
                        </p>
                        <p>
                            Our commitment extends beyond traditional academics; we strive to equip students with essential <b>21st-century skills</b> that transcend classroom boundaries. Through a curriculum that integrates real-world experiences, we aim to bridge the gap between theoretical knowledge and practical application. By providing a dynamic learning environment that encourages critical thinking, collaboration, and innovation, we prepare our students to face the challenges of an ever-changing world.
                        </p>
                        <p>
                            Our holistic approach is designed not only to foster academic excellence but also to instill a sense of ethical responsibility and global awareness. We believe that through this <b>holistic education</b>, our students will emerge as well-rounded individuals ready to make a positive and meaningful impact on the world around them.
                        </p>
                    </div>
                </div>
                <div class="text-center pb-2">
                    <h1 class="mb-4">Classes for Your Kids</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <div class="card border-0 bg-light shadow-sm pb-2">
                            <img class="card-img-top mb-2" src="img/class-1.jpg" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title">Generate Creativity</h4>
                                <p class="card-text">Fostering creativity is key for innovation. Through open-ended assignments and flexible learning, education cultivates a mindset valuing diverse perspectives and effective problem-solving.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card border-0 bg-light shadow-sm pb-2">
                            <img class="card-img-top mb-2" src="img/class-2.jpg" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title">Build Confidence</h4>
                                <p class="card-text">Encouraging self-expression and acknowledging accomplishments, schools play a pivotal role in nurturing students' confidence, preparing them for future endeavors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card border-0 bg-light shadow-sm pb-2">
                            <img class="card-img-top mb-2" src="img/class-3.jpg" alt="">
                            <div class="card-body text-center">
                                <h4 class="card-title">Physical Education</h4>
                                <p class="card-text">Physical Education (PE) is crucial for holistic student development. PE not only promotes physical fitness but also instills teamwork, discipline, and lifelong healthy habits.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>