<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/about_founder.css">
</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>
    
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">About Us</h3>
            <div class="d-inline-flex text-white">
                <!-- <img src="/img/leaves.png" id="leaves" alt=""> -->
                <p class="m-0"><a class="text-white" href="/">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div id="about">
        <div id="director_img__wapper">
            <img id="director_img" src="/img/ruchi.png" alt="">
        </div>
        <div class="container-fluid pt-5">
            <div class="container pt-5">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">From Director's Desk</span></p>
                    <div id="about_text">
                        <p>
                            <span style="display: block; min-height: 1rem;"></span>
                            Welcome to Aspen Academy, where innovation thrives and education transcends traditional boundaries. Our commitment to fostering a dynamic learning environment has led us on an exciting journey towards innovative pedagogy. At Aspen, we recognize that education is not merely a destination but a continuous journey of growth and exploration.
                            <span style="display: block; min-height: 1rem;"></span>
                            Our dedicated team of trained teachers is at the forefront, ensuring your child's overall development. We believe in preparing students for the future, going beyond the pursuit of good grades. Our focus lies in one-on-one mentoring, recognizing each student's unique strengths and aspirations.
                            <span style="display: block; min-height: 1rem;"></span>
                            Embracing the National Education Policy (NEP) of 2020, we align our practices with the evolving needs of the educational landscape. Additionally, our commitment to 'Nai Talim,' a holistic approach to education, emphasizes the harmonious development of the mind, body, and spirit.
                            <span style="display: block; min-height: 1rem;"></span>
                            As we step into this new era, we invite you to join us in the exciting learning adventure. Aspen Academy is not just a school; it's a gateway to the future. Together, let's embark on this transformative journey towards excellence.
                            <span style="display: block; min-height: 1rem;"></span>
                            Welcome to the new world of education at Aspen Academy.
                            <span style="display: block; min-height: 2rem;"></span>
                            Sincerely,
                            <br>
                            <b>
                                Ruchi Chamoli<br>
                                Principal, Aspen Academy<br>
                            </b>


                        </p>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>

    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->

</body>

</html>