<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/about_founder.css">
</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>
    
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">About Us</h3>
            <div class="d-inline-flex text-white">
                <!-- <img src="/img/leaves.png" id="leaves" alt=""> -->
                <p class="m-0"><a class="text-white" href="/">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">About Us</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div id="about">
        <div id="director_img__wapper">
            <img id="director_img" src="/img/anjali.png" alt="">
        </div>
        <div class="container-fluid pt-5">
            <div class="container pt-5">
                <div class="text-center pb-2">
                    <p class="section-title px-5"><span class="px-2">From Director's Desk</span></p>
                    <div id="about_text">
                        <p>
                            <span style="display: block; min-height: 1rem;"></span>
                            Greetings from Aspen Academy, where every student is <b>inspired by the resilience and adaptability of the Aspen leaf</b>. Just like these leaves change colors to thrive in diverse environments, we aim to instill high adaptability skills in our students to excel in an ever-changing world.
                            <br>
                            <span style="display: block; min-height: 0.5rem;"></span>
                            In the 21st century, life skills are paramount. The world is evolving rapidly, and our mission is to equip your children with the tools they need to navigate this ever-changing landscape. Inspired by the National Education Policy (NEP) 2020, <b>our methodology is crafted to align with Mahatma Gandhi's educational principles, "Nai Talim", focusing on academic excellence and holistic development</b>.
                            <br>
                            <span style="display: block; min-height: 0.5rem;"></span>
                            As parents and guardians, your role is pivotal in supporting your child's educational journey. We encourage you to join hands with us in fostering a holistic approach to education. It's not just about preparing our children for jobs; it's about cultivating individuals who contribute meaningfully to society, shaping a future generation of leaders, thinkers, and empathetic citizens.
                            <br>
                            <span style="display: block; min-height: 0.5rem;"></span>
                            <b>Education at Aspen Academy goes beyond textbooks and exams. It is a journey that cultivates character, resilience, and a sense of responsibility</b>. Our goal is to nurture well-rounded individuals who not only excel academically but also make a positive impact on the world around them.
                            <br>
                            <span style="display: block; min-height: 0.5rem;"></span>
                            As we embark on this exciting journey together, let's celebrate the unique potential within each student. Join us at Aspen Academy, where education is not just a means to a job but a pathway to a fulfilling and purposeful life.
                            <br>
                            <span style="display: block; min-height: 2rem;"></span>

                            Warm regards,
                            <br>
                            <b>Anjali Pandey</b><br>
                            <b>Director, Aspen Academy</b>

                        </p>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>

    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->

</body>

</html>