<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/teams.css">

</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>

    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Careers</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Careers</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Careers</span></p>
                <h1 class="mb-4">Join Our Team</h1>
            </div>
            <div style="display: flex;justify-items: center;align-items: center;flex-direction: column;gap: 2rem;">
                <img src="img/line-2.svg" alt="">
                <p style="font-size: 1.3rem; margin-top: 1rem; font-weight: 500; text-align: center;">
                    In halls of learning, a teacher stands tall,<br>
                    Passionate for children, their minds enthrall.<br>
                    A sculptor of minds, in this noble quest,<br>
                    Building the future, ensuring they're best.<br>
                    <br>
                    Like aspen leaves, adapting to each season,<br>
                    They mold young lives with care and reason.<br>
                    In 21st-century skills, they instill,<br>
                    A love for learning, a lifetime skill.<br>
                    <br>
                    In the classroom, where dreams take flight,<br>
                    This teacher shapes minds, pure and bright.<br>
                </p>
                <img src="img/line-1.svg" alt="">
                <!-- <br> -->
                <p style="text-align: center; font-size: 1.6rem; font-weight: bold;">
                    If you resonate with the above lines and wish to contribute, please share your CV at <br><a href="malto:mail.aspenacademy@gmail.com">mail.aspenacademy@gmail.com</a>
                </p>
                <br>
                <br>
                <br>
            </div>
            
        </div>
    </div>


    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->

</body>

</html>