<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/htmlHeader')%>
    <link rel="stylesheet" href="/css/teams.css">

</head>

<body>
    <!-- Navbar Start -->
    <%- include('../partials/navBar')%>

    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-3 font-weight-bold text-white">Our Team</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0"><a class="text-white" href="">Home</a></p>
                <p class="m-0 px-2">/</p>
                <p class="m-0">Our Team</p>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Our Team</span></p>
                <h1 class="mb-4">Meet Our Team</h1>
            </div>
            <div class="row" style="flex-direction: column; margin-bottom: 4rem;">
                <div>
                    <div class="teacher even">
                        <div class="teacher__img">
                            <img src="/img/anjali.png" alt="">
                        </div>
                        <div class="teacher__info">
                            <i>Anjali Pandey,</i>
                            <i>&nbsp; Director</i>
                            <p>
                                Co-founder of Himalayan Education Initiatives. A postgraduate in Development Studies
                                from the Central University of South Bihar and an esteemed alumnus of the prestigious
                                "Gandhi Fellowship," Anjali brings over 7 years of expertise in content design, capacity
                                building, facilitation, strategic planning, and program management. As a former
                                consultant in the Aspirational District project of Niti Ayog Jharkhand, she has left an
                                indelible mark in the field of education and community development.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <p class="section-title px-5"><span class=""></span></p>
                    </div> -->
                </div>
                <div>
                    <div class="teacher odd">
                        <div class="teacher__info">
                            <i>Ruchi Chamoli,</i>
                            <i>&nbsp; Principal</i>
                            <p>
                                An inspiring educator with a Postgraduate degree in Botany and a B.ed. With over 7 years
                                of teaching experience, Ruchi stands out for her exceptional leadership qualities.
                                Passionate about parental involvement in education, she focuses on enlightening parents
                                about their child's learning journey. Specializing in library-based learning, Ruchi
                                thrives on innovation, making education an exciting adventure for her students.
                            </p>
                        </div>
                        <div class="teacher__img">
                            <img src="img/ruchi.png" alt="">
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <p class="section-title px-5"><span class=""></span></p>
                    </div> -->
                </div>
                <div>
                    <div class="teacher even">
                        <div class="teacher__img">
                            <img src="img/jaya.jpeg" alt="">
                        </div>
                        <div class="teacher__info">
                            <i>Jaya Pant,</i>
                            <i>&nbsp; Teacher</i>
                            <p>
                                A dynamic educator with a passion for shaping young minds. Armed with a graduate degree
                                in Dl.ed and a diploma in Electronic Engineering, Jaya boasts over 20 years of teaching
                                experience. Known for effortlessly forging connections with students, she creates an
                                environment where learners feel comfortable sharing their thoughts. Jaya's expertise
                                lies in the realms of Mathematics and Science. Beyond the classroom, she finds joy in
                                playing games and immersing herself in the world of music, adding a harmonious touch to
                                her vibrant teaching persona.
                            </p>
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        <p class="section-title px-5"><span class=""></span></p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <%- include('../partials/footer')%>
    
    <!-- Footer End -->

</body>

</html>